---

---

<footer class="has-footer-background-color has-light-color mt-auto">
    <section id="copyright" class="has-footer-background-color has-light-color">
        <div class="content">
            <div class="wp-bootstrap-blocks-row row">
                <div class="col-12 col-md-8">
                    <div class="wp-bootstrap-blocks-row row">
                        <div class="col-12 col-md-4 col-lg-2 mb-2">
                            <div class="wp-block-image">
                                <figure class="alignleft size-full is-resized">
                                    <img
                                        width="500"
                                        height="340"
                                        src="https://founding-gide.eurobioimaging.eu/wp-content/uploads/2024/02/eu-logo.jpg"
                                        alt="European Union Flag"
                                        style="width:50px"
                                    />
                                </figure>
                            </div>
                        </div>

                        <div class="col-12 col-md-8 col-lg-10 ps-md-0">
                            <p class="has-text-align-left has-small-font-size">
                                <em>
                                    FoundingGIDE has received funding from the
                                    European Union's Horizon Europe research and
                                    innovation programme under grant agreement
                                    number 101130216. Views and opinions
                                    expressed are however those of the author(s)
                                    only and do not necessarily reflect those of
                                    the European Union or the European Research
                                    Council Executive Agency. Neither the
                                    European Union nor the granting authority
                                    can be held responsible for them.
                                </em>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <p class="privacy-policy">
                        <a
                            href="https://founding-gide.eurobioimaging.eu/privacy-policy/"
                            data-type="page"
                            data-id="139"
                        >
                            Privacy Policy
                        </a>
                        <!-- |
                        <a
                            href="javascript:void(0)"
                            class="wt-cli-manage-consent-link"
                        >
                            Consent Preferences
                        </a> -->
                    </p>

                    <p class="privacy-policy">&#169; FoundingGIDE 2025</p>
                </div>
            </div>
        </div>
    </section>
</footer>
